@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: theme(colors.primary.100);
  --primary-200: theme(colors.primary.200);
  --primary-300: theme(colors.primary.300);
  --gray-100: theme(colors.gray.100);
  --gray-200: theme(colors.gray.200);
  --gray-300: theme(colors.gray.300);
  --gray-400: theme(colors.gray.400);
  --subColor-100: theme(colors.subColor.100);
  --subColor-200: theme(colors.subColor.200);
  --brownColor-100: theme(colors.brown.100);
  --brownColor-100: theme(colors.brown.200);
  --font-100: theme(colors.font.100);
  --font-200: theme(colors.font.200);
  --font-300: theme(colors.font.300);
  --font-error: theme(colors.font.error);
  --font-black: theme(colors.font.black);
  --size-micro: theme(fontSize.micro);
  --size-es: theme(fontSize.es);
  --size-xs: theme(fontSize.xs);
  --size-sm: theme(fontSize.sm);
  --size-base: theme(fontSize.base);
  --size-md: theme(fontSize.md);
  --size-big: theme(fontSize.big);
  --size-lg: theme(fontSize.lg);
  --size-xl: theme(fontSize.xl);
  --weight-light: theme(fontWeight.light);
  --weight-regular: theme(fontWeight.regular);
  --weight-bold: theme(fontWeight.bold);
  --weight-bolder: theme(fontWeight.bolder);
}

@layer base {
  html {
    @apply overflow-x-hidden bg-white;
  }

  body {
    -ms-overflow-style: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  :focus-visible {
    outline: none;
  }

  .select-none {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge*/
    user-select: none;
  }

  a,
  input,
  button {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    @apply select-none touch-manipulation;
  }

  svg,
  img {
    @apply pointer-events-none select-none;
  }
}
