.input-default {
  border: 1px solid var(--gray-300);
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: var(--size-xs);
}

.submit-btn {
  background-color: var(--primary-300);
  font-size: var(--size-sm);
  font-weight: var(--weight-bold);
  border: 1px solid var(--gray-200);
  border-radius: 30px;
  padding: 7px 7px;
}

.signup-btn {
  font-size: var(--size-sm);
  font-weight: var(--weight-bolder);
  padding: 7px 7px;
  color: var(--brownColor-200);
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--size-sm);
  font-weight: var(--weight-bold);
  color: #444;
  width: 100%;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  padding: 7px 7px;

  & img {
    margin-right: 20px;
  }
  & > span {
    font-family: 'Roboto', sans-serif;
  }
}
